/*.cover{
	width: 80%;
}
*/
body{
	background: #090c10;
	text-align: center;
	font-size: 14px;
	color: rgba(255,255,255,0.6);	
	padding-bottom: 50px;
}
@media screen and (max-width:600px){
	body{
		font-size:12px;
	}
}
.main-content{
	width: 960px;
    margin: auto;
}
h2{
	margin-bottom: 20px;
}
.intro{
	line-height: 2.2em;
	/*width: 80%;*/
	margin: 30px auto;
	margin-top: 90px;
}
.intro .breif{
	width: 30%;
	min-width: 250px;
}
.intro .avatar{
	border-radius: 50%;
	border: solid 10px rgba(255,255,255,0.4);
	display: block;
	margin: 0px auto;
	width: 150px;
}

.intro .detail{
	width: 55%;
}
.intro .name{
	/*font-size: 2em;*/
	/*font-weight: 700;*/
	margin-top: 20px;
	color: rgba(255,255,255,0.9);	
	font-size: 1.5em;

}
.intro .pos{
	font-size: 1.2em;

}
.intro .bg{
	/*font-size: 0.7em;*/
	line-height: 1.4em;
}
.intro .email{
	color: #ff8307;
	/*font-size: 0.8em;*/
}
.intro .detail{
	color: rgba(0,0,0,0.5);
	font-size: 1.1em;
	padding-top: 18px;
	text-align: left;
	text-indent: 2em;
	margin-left: 5%;
}
.projects{
	margin-top: 100px;
}
.projects-list{
	width: 90%;
	margin: 20px auto;
}
.projects .item{
	width: 180px;
	height: 230px;
	/*padding: 10px;*/
	margin-bottom: 10px;
	float: left;
	text-align: center;
	position: relative;
	margin-right: 35px;
	perspective: 1000;
}
.qrcode{
	width: 90px;
}
.projects .item .flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.flipper:hover{
	transform: rotateY(180deg);
}
.projects .item .front, .projects .item .back{
	position: absolute;
	display: block;
	width: 180px;
	height: 160px;
	text-align: center;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}
.item .front{
	z-index: 2;
	transform: rotateY(0deg);
}
.item .back{
	transform: rotateY(180deg);
}
.projects .item .desc{
	position: absolute;
	bottom: 20px;
	width: 100%;
	color: rgba(255,255,255,0.8);
	line-height: 1.5em;
}
.projects .cover{
	width: 150px;
	border-radius: 50%;
	border: solid 4px rgba(255,255,255,0.4);
}
.item .back .des-wrapper{
	width: 150px;
	border-radius: 50%;
	border: solid 4px rgba(255,255,255,0.4);
	padding-top: 50px;
	height: 100px;
	line-height: 1.3em;
	margin: auto;
	background: white;
	color: black;
}
/*.projects .item .cover{
	width: 60%;
	max-width: 150px;
	min-width: 80px;
	border: solid 4px rgba(255,255,255,0.4);
	border-radius: 50%;
	margin-bottom: 10px;
}*/
.projects .item .p-name{
	color: white;
	font-weight: 700;
}

.gallery, .album{
	width: 100%;
}
.img-wrapper{
	/*float: left;*/
	display: inline-block;
}
.slide-img{
	width: 400px;
	margin: 10px;
	border-radius: 3px;
}
.social-list li{
	float: left;
	margin-right: 10px;

}
.social-list .social-element{
	margin-right: 10px;
}