@import url(../intro.css);

.projects{
	margin-top: 100px;
}
.projects-list{
	width: 90%;
	margin: 20px auto;
}
.projects .item{
	width: 180px;
	height: 230px;
	/*padding: 10px;*/
	margin-bottom: 10px;
	float: left;
	text-align: center;
	position: relative;
	margin-right: 35px;
	perspective: 1000;
	-webkit-perspective: 1000;

}
.qrcode{
	width: 90px;
}
.projects .item .flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.flipper:hover{
	transform: rotateY(180deg);
}
.projects .item .front, .projects .item .back{
	position: absolute;
	display: block;
	width: 180px;
	height: 160px;
	text-align: center;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.item .front{
	z-index: 2;
	transform: rotateY(0deg);
}
.item .back{
	transform: rotateY(180deg);
}
.projects .item .desc{
	position: absolute;
	bottom: 20px;
	width: 100%;
	color: rgba(255,255,255,0.8);
	line-height: 1.5em;
}
.projects .cover{
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border-radius: 50%;
	border: solid 4px rgba(255,255,255,0.4);
}
.item .back .des-wrapper{
	width: 150px;
	border-radius: 50%;
	border: solid 4px rgba(255,255,255,0.4);
	padding-top: 50px;
	height: 150px;
	line-height: 1.3em;
	margin: auto;
	background: white;
	color: black;
	box-sizing: border-box;
}

.projects .item .p-name{
	color: white;
	font-weight: 700;
}

.gallery, .album{
	width: 100%;
}
.img-wrapper{
	/*float: left;*/
	display: inline-block;
}
.slide-img{
	width: 400px;
	margin: 10px;
	border-radius: 3px;
}
.social-list li{
	float: left;
	margin-right: 10px;

}
.social-list .social-element{
	margin-right: 10px;
}
@media screen and (max-width:600px){
	.projects .item{
		width: 50%;
		margin: 0;
	}
	.projects .item .front, .projects .item .back{
		width: 100%;
		height: 180px;
	}
	.item .back .des-wrapper{
		width: 130px;
		height: 130px;
	}
	.projects .item .cover{
		width: 130px;
		height: 130px;	
	}
	.qrcode {
	    width: 70px;
	}
	.slide-img{
		width: 90%;
	}
	.projects-list{
		margin: auto;
	}
}