<!DOCTYPE html>
<html lang="zh-CN">
	<head>
	    <title>{% block title %}{% endblock %}</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	    <meta charset="utf-8">
	    <link rel="shortcut icon" href="/static/images/morry.jpg" />
	    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
	    <link rel="stylesheet" type="text/css" href="/static/css/intro.css">

	    <link rel="stylesheet" type="text/css" href="/static/css/pages/{{page}}.css?v=1.1">
	</head>
	<body>
		{% block content %}{% endblock %}
		<script type="text/javascript" src="/static/js/lib/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="/static/js/pages/{{page}}.js"></script>
	</body>
</html>