{% extends "base.html" %}

{% block title %}文章{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/icon.css">
<ul class="nav cf">
	<a href="/blog/"><li class="current">文章</li></a>
	<!-- <li>实验室</li> -->
	<a href="/about/"><li>关于</li></a>
</ul>
<div class="main-content">
	<div class="intro cf">
		<div class="breif fl">
			<img src="/static/images/morry.jpg" class="avatar">
			<h2 class="name">夏梦丽</h2>
			<p class="pos">前端工程师</p>
			<p class="bg">浙江大学数字媒体技术专业</p>
			<p class="bg">美团外卖商家端前端工程师</p>
			<a href="mailto:morryxia@gmail.com" class="email">morryxia@gmail.com</a>
		</div>
		<div class="detail fr">
			<h2 style="color:rgba(0,0,0,0.5)">关于这个博客</h2>

			<p>深埋一颗设计师心的前端工程师，LOL网瘾少女。大三时去加拿大Simon Fraser University作为交换生学习Interactive Arts and Technology，能熟练的阅读英文文档和流利的听说交流。爱旅行，爱阅读，对简洁和美有执着的追求，爱摄影，爱手绘，希望有一天能自由的描绘看到的美和心中的世界，用画笔，也用代码。</p>
			<p>主要语言：Javascript、CSS、HTML、Python</p>
		</div>
	</div>
	<ul class="article-list">
		<li>
			<div></div>
			<p>Javascript Function</p>
		</li>
		<li>
			<div></div>
			<p>Javascript Function</p>
		</li>
		<li>
			<div></div>
			<p>Javascript Function</p>
		</li>
		<li>
			<div></div>
			<p>Javascript Function</p>
		</li>
		<li>
			<div></div>
			<p>Javascript Function</p>
		</li>
		<li>
			<div></div>
			<p>Javascript Function</p>
		</li>
		<li>
			<div></div>
			<p>Javascript Function</p>
		</li>
		<li>
			<div></div>
			<p>Javascript Function</p>
		</li>
		<li>
			<div></div>
			<p>Javascript Function</p>
		</li>
		<li>
			<div></div>
			<p>Javascript Function</p>
		</li>
		<li>
			<div></div>
			<p>Javascript Function</p>
		</li>

	</ul>
</div>
{% endblock %}
